/* SCROLL */
::-webkit-scrollbar-track {
    background-color: #610725;
}
::-webkit-scrollbar {
    width: 8px;
    background: #610725;
}
::-webkit-scrollbar-thumb {
    background: #f7377a;
}

* {
    /* style */
    font-family: 'Roboto', sans-serif;
}

body {
    /* position */
    padding-top: 195px;

    /* style */
    background-color: #1B1B1B;
    border-top: 2px solid #F7377A;
 }

main {
    /* position */
    width: 84%;
    margin: 0 auto;
    overflow: hidden;
}

/* INTRODUCAO */
.container-introducao {  
    /* position */
    width: 82%;
    margin: 0 auto 137px auto;    
}

.container-introducao header, section {
    width:100%;
}

.item-label-introducao {
    /* position */
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;

    /* style*/
    font-size: 1.125em;
    font-weight: 500;
    color: #FFFFFF;
}

.content-introducao p {
    /* position */
    width: 90%;
    margin-top: 34px;
    margin-bottom: px;

    /* style */
    font-size: 1.31em;
    line-height: 31.5px;
    font-weight: 400;
    color: #7A7A7A;
    text-align: left;
}

.container-introducao h1 {
    /* style */
    font-size: 7em;
    font-weight: 700;
    color: #FFFFFF; 
}

.container-introducao header h2 {
    /* position */
    margin-bottom: 77px;

    /* style */
    font-size: 2em;
    font-weight: 500;
    color: #F7377A; 
}

/* FORMACAO */
.container-formacao {
    /* position */
    display: flex;
    justify-content: center;
    margin-bottom: 137px;

    /* style */
    background-color: #1D1D1D;
    border: 1px solid #7A7A7A;
}

.container-content-formacao{
    /* position */
    width: 1374px;
}

.item-label-formacao {
    /* position */
    margin-top: 216px;
        
    /* style */
    font-size: 225px;
    font-weight: 700;
    color: #1B1B1B;
    text-transform: uppercase;
    text-align: center;
}

.container-step-formacao {
    /* position */

    /* style */
    width: 81%;
    height: 65px;
}

.circle-step-formacao {
    /* position */
    float: left; 

    /* style */
    width: 65px;
    height: 65px;
    border: 1px solid #3b3b3b;
    border-radius: 50px;
    background-color: #1D1D1D;
}

.circle-step-formacao label {
    /* position */
    margin: 0 auto;

    /* style */
    font-size: 1em;
    font-weight: 400;
    color:#FFFFFF;
}
    
.container-itens-formacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-formacao {
    /* position */
    width: 329px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.item-header-formacao {
    /* style */
    font-size: 112px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.item-content-formacao {
    /* position */

}

    .nome-instituicao {
    /* style */
    font-size: 24px;
    font-weight: 500;
    color: #F7377A; 
}

.tipo-formacao, .periodo-formacao {
    /* style */
    font-size: 18px;
    font-weight: 300;
    color: #CDCDCD; 
}

.em-andamento {
    /* style */
    font-size: 18px;
    font-weight: 300;
    color: #707070; 
 }


.container-content-formacao {
    border: 1px solid #7A7A7A;
}

/* HABILIDADES */
.container-habilidades {
    /* position */
    padding: 150px 120px;
    margin-bottom: 137px;

    /* style */
    width: 100%;
    background-color: #1D1D1D;
}

.content-habilidades {
    /* position */
    overflow: hidden;

    /* style */
    width: 84%;
    height: 687px;
}

.col-1-habilidades {
    /* position */
    float: left;
    margin-right: 8%;

    /* style */
    width: 46%;
}

.col-1-habilidades header {
    /* position */
    margin-bottom: 94px;
}

.item-graphic-habilidades {
    /* position */
    margin-top: 94px;

    /* style */
    width: 100%;
}

.item-graphic-habilidades img {
    /* style */
    width: 100%;
}

.col-2-habilidades {
    /* position */
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* style */
    width: 46%;
}

.container-habilidades header h3 {
    /* position */
    margin-bottom: 56px;

    /* style */
    font-size: 2.75em;
    font-weight: 500;
    color: #FFFFFF;
}

.item-habilidades {
    /* position*/
    margin-right: 60px;
    margin-bottom: 60px;

    /* style */
    width: 245px;
}

.item-habilidades h5 {
    /* position */
    margin-bottom: 27px;
    
    /* style */
    font-size: 1.3125em;
    font-weight: 400;
    color: #FFFFFF; 
}

/* EXPERIÊNCIA */
.container-experiencia {
    width: 100%;
}

.container-experiencia header {
    width: 100%;
}

.container-experiencia header h3 {
    /* position */
    margin-bottom: 11px;
    
    /* style */
    font-size: 2.75em;
    font-weight: 500;
    color: #FFFFFF;
}

.container-experiencia header label {
    /* style */
    font-size: 1.125em;
    font-weight: 300;
    color: #707070;
}

.content-experiencia {
    /* position */
    margin-top: 50px;
    margin-bottom: 137px;
    overflow: hidden;
    
    /* style */
    width: 100%;
}

.item-content-experiencia {
    /* position */
    padding-top: 55px;
    float: left;

    /* style */
    width: 30.9%;
    height: 507px; 
    background-color: #1D1D1D;
}

.item-1 { 
    margin: 0px 3.65% 50px 0px;
    background:linear-gradient(to right, #FF4E5F , #F7377A);
}

.item-2 { 
    margin: 0px 3.65% 50px 0px;        
}        

.item-3 {
    margin: 0px 0px 50px 0px; 
}

.item-4 { 
    margin: 0px 3.65% 0px 0px; 
} 

.item-5 { 
    margin: 0px 3.65% 0px 0px; 
}

.item-6 { 
    margin: 0px 0px 0px 0px; 
} 

#new-style-experiencia-1, #new-style-experiencia-2 {
    color: #1D1D1D;
}

.item-content-experiencia header {
    /* position */
    margin: 0 auto;

    /* style */
    width: 72%;
}

.item-content-experiencia header h4 {
    /* position */
    margin-bottom: 11px;

    /* style */
    font-size: 1.75em;
    font-weight: 500;
    color: #FFFFFF;
}

.item-content-experiencia header label {
    /* style */
    font-size: 1.125em;
    font-weight: 300;
    color: #CDCDCD;
}

.item-content-experiencia header h5 {
    /* position */
    margin-top: 39px;
    margin-bottom: 22px;
    
    /* style */ 
    font-size: 1.5em;
    font-weight: 500;
    color: #F7377A;
}

.item-content-experiencia ul {
    /* position */
    margin: 0 auto;
    padding-left: 20px;

    /* style */
    width: 69%;
    font-size: 1.31em;
    font-weight: 400;
    color: #7A7A7A;
    line-height: 31.5px;
}

.item-content-experiencia li {
    margin-bottom: 0.5em;
    list-style-type: disc;
}


/* IDIOMA */ 
.container-idiomas {
    /* position */
    margin-right: 3.65%;
    float: left;
    padding-top: 150px; 
    padding-left: 120px;
    padding-bottom: 159px;

    /* style */
    width: 40.46%;
    background-color: #1D1D1D;
}

.container-idiomas header h3 {
    /* position */
    margin-bottom: 56px;

    /* style */
    font-size: 2.75em;
    font-weight: 500;
    color: #FFFFFF;
}

.item-idiomas {
    /* position */
    margin-bottom: 56px;
}

.item-idiomas h5 {
    /* position */
    margin-bottom: 27px;
    
    /* style */
    font-size: 1.3125em;
    font-weight: 400;
    color: #FFFFFF; 
}

/* INTERESSES*/
.container-interesses {
    /* position */
    float: left;
    padding-top: 150px; 
    padding-left: 120px;
    padding-bottom: 150px;

    /* style */
    width: 40.46%;
    background-color: #1D1D1D;
}

.content-item-interesses {
    /* position */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* style */
    width: 674px;
    height: 251px;
}

.container-interesses header h3 {
    /* position */
    margin-bottom: 56px;

    /* style */
    font-size: 2.75em;
    font-weight: 500;
    color: #FFFFFF;
}

.item-interesses {
    /* position */
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    margin-right: 123px;

    /* style */
    width: 209px;
}

.item-interesses h5 {  
    /* style */
    font-size: 1.3125em;
    font-weight: 400;
    color: #FFFFFF; 
}

.item-interesses img {
    /* position */
    margin-right: 26px; 

    /* style */
    width: 58.8px;
    height: 58.8px;
}


/* CONTATOS */
.container-contatos {
    /* position */
    float: left;
    padding-top: 150px; 
    padding-left: 120px;
    padding-bottom: 150px;
    margin-top: 137px;
    margin-bottom: 132px;

    /* style */
    width: 100%;
    background-color: #1D1D1D;
}

.content-item-contatos {
    /* position */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /* style */
    width: 674px;
    height: 251px;
}

.container-contatos header h3 {
    /* position */
    margin-bottom: 56px;

    /* style */
    font-size: 2.75em;
    font-weight: 500;
    color: #FFFFFF;
}

.item-contatos {
    /* position */
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    margin-right: 78px;

    /* style */
    width: 417px;
}

.item-contatos h5 {  
    /* style */
    font-size: 1.3125em;
    font-weight: 400;
    color: #FFFFFF; 
}

.item-contatos img {
    /* position */
    margin-right: 26px; 

    /* style */
    width: 58.8px;
    height: 58.8px;
}
  