body {
    background-color: #1B1B1B;
 }

 .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #F7377A;
}

/* SCROLL */
::-webkit-scrollbar-track {
    background-color: #610725;
}
::-webkit-scrollbar {
    width: 8px;
    background: #610725;
}
::-webkit-scrollbar-thumb {
    background: #f7377a;
}

/* COLOR */
.color-white {
    color: #FFFFFF;
}

.color-pink {
    color: #F7377A;
}

.color-orange {
    color: #FF4E5F;
}

.color-grey {
    color: #7A7A7A;
}

.color-dark-grey {
    color: #1D1D1D;
}
        
.color-black { 
    color: #1B1B1B;
}    

.bgcolor-dark-grey { 
    background-color: #1D1D1D;
}

.bgcolor-gradient-pink {
    background: linear-gradient(to right, #FF4E5F, #F7377A);
}

/* FONT */

h1 {
    font-size: 112px;    
    font-weight: 600; 
}

h2 {
    font-size: 32px;
    font-weight: 500; 
}

h3 {
    font-size: 44px;
    font-weight: 500;
}

h4 {
    font-size: 28px;
    font-weight: 500;
}

h5 {
    font-size: 24px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 21px;
    font-weight: 400;
}

/* INTRO */
.container-intro {
    margin-top: 195px;
    margin-bottom: 136px;
    width: 1614px;
    height: auto;
    position: relative;
}

.intro {
    width: 1320px;
    margin: 0 auto;
}

.font-titulo-intro {
    font-family: 'Roboto', sans-serif;   
    margin: 0px ;
}

.font-paragraph-intro {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    width: 1279px;
    position: relative;
    text-align: left;
}

#text-portfolio {
    margin: 0px;
    position: relative;
    text-align: right;
}

#text-uxui {
    margin-top: 38px;
    margin-bottom: 83px;
    position: relative;
    text-align: left;
}

#text-paragraph-1 {
    margin-top: 8px;
    margin-bottom: 34px;
}


/* FORMAÇÂO */
.formacao {
    width: 1614px;
    height: 749px;
    margin-right: 0px;
    margin-bottom: 77px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
}

.text-formacao {
    margin-top: 216px;
    text-align: center;
    color: #202020;
    font-size: 225px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

/* EXPERIÊNCIA */
.container-experiencia {
    width: 1614px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 500px;
    height: 506px;
    margin-bottom: 63px;
    font-family: 'Roboto', sans-serif;
}

.card li {
    color: #7A7A7A;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 11px;
}

ul {
    list-style: none
  }
  
ul li:before {
    content: '\2022';
    margin: 0 4px;
    color: #FFFFFF /* cor da bolinha */
}

.font-titulo-exper {
    margin-top: 33px;
    margin-bottom: 23px; 
}

.experiencia {
    position: relative;
    margin:65px;
    text-align: left;
}

/* INTERESSES */